@import url('/Sora/Sora-VariableFont_wght.ttf');

*{
  margin: 0;
  padding: 0;
/* outline: 1px solid rgb(126, 228, 126); */
  box-sizing: border-box;
  font-family: Sora, sans-serif;


}

@tailwind base;
@tailwind components;
@tailwind utilities;